In [1]:
import pandas as pd
import matplotlib.pyplot as plt

/tmp/ipykernel_22977/1492400551.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
dataFrame = pd.read_csv('laptop_data_cleaned.csv')
dataFrame

,Company,TypeName,Ram,Weight,Price,TouchScreen,Ips,Ppi,Cpu_brand,HDD,SSD,Gpu_brand,Os
0,Apple,Ultrabook,8,1.37,11.175755,0,1,226.983005,Intel Core i5,0,128,Intel,Mac
1,Apple,Ultrabook,8,1.34,10.776777,0,0,127.677940,Intel Core i5,0,0,Intel,Mac
2,HP,Notebook,8,1.86,10.329931,0,0,141.211998,Intel Core i5,0,256,Intel,Others
3,Apple,Ultrabook,16,1.83,11.814476,0,1,220.534624,Intel Core i7,0,512,AMD,Mac
4,Apple,Ultrabook,8,1.37,11.473101,0,1,226.983005,Intel Core i5,0,256,Intel,Mac
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1268,Asus,Notebook,4,2.20,10.555257,0,0,100.454670,Intel Core i7,500,0,Nvidia,Windows
1269,Lenovo,2 in 1 Convertible,4,1.80,10.433899,1,1,157.350512,Intel Core i7,0,128,Intel,Windows
1270,Lenovo,2 in 1 Convertible,16,1.30,11.288115,1,1,276.053530,Intel Core i7,0,512,Intel,Windows
1271,Lenovo,Notebook,2,1.50,9.409283,0,0,111.935204,Other Intel Processor,0,0,Intel,Windows
1272,HP,Notebook,6,2.19,10.614129,0,0,100.454670,Intel Core i7,1000,0,AMD,Windows

In [3]:
dataFrame.dropna()

,Company,TypeName,Ram,Weight,Price,TouchScreen,Ips,Ppi,Cpu_brand,HDD,SSD,Gpu_brand,Os
0,Apple,Ultrabook,8,1.37,11.175755,0,1,226.983005,Intel Core i5,0,128,Intel,Mac
1,Apple,Ultrabook,8,1.34,10.776777,0,0,127.677940,Intel Core i5,0,0,Intel,Mac
2,HP,Notebook,8,1.86,10.329931,0,0,141.211998,Intel Core i5,0,256,Intel,Others
3,Apple,Ultrabook,16,1.83,11.814476,0,1,220.534624,Intel Core i7,0,512,AMD,Mac
4,Apple,Ultrabook,8,1.37,11.473101,0,1,226.983005,Intel Core i5,0,256,Intel,Mac
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1268,Asus,Notebook,4,2.20,10.555257,0,0,100.454670,Intel Core i7,500,0,Nvidia,Windows
1269,Lenovo,2 in 1 Convertible,4,1.80,10.433899,1,1,157.350512,Intel Core i7,0,128,Intel,Windows
1270,Lenovo,2 in 1 Convertible,16,1.30,11.288115,1,1,276.053530,Intel Core i7,0,512,Intel,Windows
1271,Lenovo,Notebook,2,1.50,9.409283,0,0,111.935204,Other Intel Processor,0,0,Intel,Windows
1272,HP,Notebook,6,2.19,10.614129,0,0,100.454670,Intel Core i7,1000,0,AMD,Windows

**Data Cleaning Service**

In [4]:
dataFrame.dropna()
dataFrame.drop_duplicates(inplace=True)

dataFrame

,Company,TypeName,Ram,Weight,Price,TouchScreen,Ips,Ppi,Cpu_brand,HDD,SSD,Gpu_brand,Os
0,Apple,Ultrabook,8,1.37,11.175755,0,1,226.983005,Intel Core i5,0,128,Intel,Mac
1,Apple,Ultrabook,8,1.34,10.776777,0,0,127.677940,Intel Core i5,0,0,Intel,Mac
2,HP,Notebook,8,1.86,10.329931,0,0,141.211998,Intel Core i5,0,256,Intel,Others
3,Apple,Ultrabook,16,1.83,11.814476,0,1,220.534624,Intel Core i7,0,512,AMD,Mac
4,Apple,Ultrabook,8,1.37,11.473101,0,1,226.983005,Intel Core i5,0,256,Intel,Mac
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1268,Asus,Notebook,4,2.20,10.555257,0,0,100.454670,Intel Core i7,500,0,Nvidia,Windows
1269,Lenovo,2 in 1 Convertible,4,1.80,10.433899,1,1,157.350512,Intel Core i7,0,128,Intel,Windows
1270,Lenovo,2 in 1 Convertible,16,1.30,11.288115,1,1,276.053530,Intel Core i7,0,512,Intel,Windows
1271,Lenovo,Notebook,2,1.50,9.409283,0,0,111.935204,Other Intel Processor,0,0,Intel,Windows
1272,HP,Notebook,6,2.19,10.614129,0,0,100.454670,Intel Core i7,1000,0,AMD,Windows

In [5]:
dataFrame['Os'].value_counts()

Os
Windows    1099
Others      152
Mac          21
Name: count, dtype: int64

**Label Encoder**

In [6]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

dataFrame['Company']    = label_encoder.fit_transform(dataFrame['Company'])
dataFrame['TypeName']   = label_encoder.fit_transform(dataFrame['TypeName'])
dataFrame['Ram']        = label_encoder.fit_transform(dataFrame['Ram'])
dataFrame['Weight']     = label_encoder.fit_transform(dataFrame['Weight'])
dataFrame['Price']      = label_encoder.fit_transform(dataFrame['Price'])
dataFrame['Ppi']        = label_encoder.fit_transform(dataFrame['Ppi'])
dataFrame['Cpu_brand']  = label_encoder.fit_transform(dataFrame['Cpu_brand'])
dataFrame['HDD']        = label_encoder.fit_transform(dataFrame['HDD'])
dataFrame['SSD']        = label_encoder.fit_transform(dataFrame['SSD'])
dataFrame['Gpu_brand']  = label_encoder.fit_transform(dataFrame['Gpu_brand'])
dataFrame['Os']         = label_encoder.fit_transform(dataFrame['Os'])

dataFrame

,Company,TypeName,Ram,Weight,Price,TouchScreen,Ips,Ppi,Cpu_brand,HDD,SSD,Gpu_brand,Os
0,1,4,3,37,524,0,1,29,2,0,5,1,0
1,1,4,3,34,342,0,0,10,2,0,0,1,0
2,7,3,3,72,168,0,0,12,2,0,8,1,1
3,1,4,5,69,745,0,1,25,3,0,9,0,0
4,1,4,3,37,637,0,1,29,2,0,8,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1268,2,3,1,102,243,0,0,1,3,3,0,2,2
1269,10,0,1,68,200,1,1,14,3,0,5,1,2
1270,10,0,5,31,575,1,1,34,3,0,9,1,2
1271,10,3,0,49,8,0,0,5,4,0,0,1,2
1272,7,3,2,100,265,0,0,1,3,4,0,0,2

In [20]:
dataFrame['Os'].value_counts()

Os
2    1099
1     152
0      21
Name: count, dtype: int64

**Balancing Data With SMOTE**

In [24]:
from imblearn.over_sampling import SMOTE

target_features     = dataFrame.drop("Os", axis=1)
label_features      = dataFrame['Os']

#SMOTE: balance the dataset
smote = SMOTE(random_state=42)
X_resampled, Y_resampled = smote.fit_resample(target_features, label_features)

print("Class distribution after SMOTE:")
# print(pd.Series(balance_dataFrame).value_counts())
Y_resampled.value_counts()

Class distribution after SMOTE:

Os
0    1099
1    1099
2    1099
Name: count, dtype: int64

In [25]:
X = X_resampled
Y = Y_resampled

**Train Test Split**

In [27]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

**Decision Tree Classifier Model**

In [28]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score  

clf = DecisionTreeClassifier(random_state=42)

clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Skor Akurasi Decision Tree :", accuracy)

Skor Akurasi Decision Tree : 0.9181818181818182

In [33]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
import numpy as np

newData = np.array([[20, 2, 3, 4, 2, 4, 0, 4, 9, 12, 3, 12]])

scaledData = scaler.fit_transform(newData)
preds = clf.predict(scaledData)
print("Skor Decision Tree Class:", preds)

Skor Decision Tree Class: [1]

/home/codespace/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(